table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 15%;
}

.semaforo{
  width: 5%;
}

.example-container {
  height: auto;
  width: auto;
  overflow: auto;
}

.isBooked {
  background-color: rgb(237, 239, 255) !important;
}

.isBookedSemaforo {
  background-color: red !important;
}
