table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 10%;
  padding: 10px;
}

.anchoModel{
 width: 30%;
}

.anchoAction{
  width: 17%;
 }

.semaforo{
  width: 5%;
}

.example-container {
  height: auto;
  width: auto;
  overflow: auto;
}

.botonTabla{
  width: 70px;
}

.isBooked {
  background-color: rgb(255, 241, 242) !important;
}

.isBookedSemaforoRed {
  background-color: red !important;

  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.isBookedSemaforoGreen {
  background-color: limegreen !important;

  width: 20px;
  height: 20px;
  border-radius: 50px;
}

@media only screen and (max-width : 600px) {

  td, th {
    width: 10%;
    padding: 10px;
  }
  
  .anchoModel{
   width: 30%;
  }
  
  .anchoAction{
    width: 16%;
   }  
  
  }
